body {
margin: 0;
padding: 0;
/*background: url(bg.jpg) no-repeat center center fixed;
background-size: cover;*/
}

/*
nav {
	margin-top: 20px;
}

nav a img {
	margin-right: 30px;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
*/
